.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    padding: 1.5rem;
    background-color: var(--bg-principal);
    border: 1px solid var(--bg-hover);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; 
}

.modal-description {
    flex: 1; /* Faz com que o conteúdo ocupe o espaço restante */
    margin-top: 1.rem; /* Espaço superior do conteúdo */
    overflow-y: auto; /* Adiciona barra de rolagem vertical se o conteúdo exceder a altura */
    padding-right: 1rem; /* Adiciona espaço à direita para evitar que o texto fique muito próximo da barra de rolagem */
}

.modal-description p,
.modal-description li{
    font-size: .8rem;
    font-weight: 300;
}
.modal-description h3{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
}
.modal-description hr{
    margin-bottom: 2rem;
}