/* Aqui estão todos os estilos referentes a página Home */

/* Estilo do Busca de Entidade: */
/* **************************** */

.BEContainer {
    height: 500px;
}

.BEContainer form {
    margin-top: 2rem;
}

.BEButton,
.BEInput {
    margin: 0 30px;
    width: 400px;
}

/* Estilo do Sobre o Projeto: */
/* ************************** */
.OProjeto {
    background: var(--bg-secundario);
}


/* Estilo do Sobre o Nós: */
/* ********************** */
.sobreContainer {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.sobreContainer img {
    margin-right: 20px;
    margin-left: 20px;
    max-width: 300px;
    border-radius: 50%;
}

.sobreContainer p {
    text-align: justify;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 2.5rem;
}

/* Estilo do Conheça as Entidades: */
/* ******************************* */

.CAEContainer {
    margin: 50px 0;
    background-color: var(--bg-secundario);
    position: relative;
}

.CAEcarrousselExterno {
    overflow: hidden;

}

.CAECarousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0;
    height: 270px;
    position: relative;
    transition: transform 0.5s ease-in-out;
    padding-left: 100px;
}

.Card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 250px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.1);
    /* overflow: visible; */
    transition: transform 0.3s ease-in-out;
}

.Card:hover {
    transform: translateY(-10px);
}

.CardTitle {
    font-size: 1rem;
    font-weight: normal;
    margin: 5px;
    margin-top: 2px;
}

.CardImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow:
        rgba(27, 34, 183, 0.2) 4px 4px 8px 0px,
        rgba(27, 34, 183, 0.1) 0px 6px 20px 0px !important;
    margin: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 50px;
}

.carousel-button.next {
    right: 50px;
}


/* Estilo do Contato: */
/* ****************** */
.contato--container {
    height: 400px;
}

.ContatoForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;

    grid-template-rows: auto auto auto;
    grid-template-areas:
        "nome nome"
        "email telefone"
        "mensagem mensagem"
        "contatoBtn contatoBtn";
    margin-bottom: 80px;
}

input[name="nome"] {
    grid-area: nome;
}

input[name="email"] {
    grid-area: email;
}

.IMaskInput {
    grid-area: telefone;
}

textarea {
    grid-area: mensagem;
    resize: none;
    height: 100px;
}

.ContatoTextarea {
    margin-bottom: 15px;
}

button[name="contatoBtn"] {
    grid-area: contatoBtn;
}